.banner{
    background-image: url('../assets/images/bg-shadow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 545px;
}
